
body{
  background-color: rgb(245, 245, 245);
}


.d01{
  background-image: url(../HTML-ESTUDO/SITE-IGREJA/pictures/backgroun-papel.jfif);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  
  justify-content: center;
  align-content: center;
  color: white;
  
  margin-bottom: 40px;

}

.d02{
  background-image: url(../HTML-ESTUDO/SITE-IGREJA/pictures/backgroun-papel.jfif);
  display: flex;
  min-width: 800px;
  min-height: 600px;
  justify-content: center;
  align-content: center;
  color: white;
  max-width: 1000px;
}