


main{

  width: 600px;
  height: 400px;
  background-color: burlywood;
  margin: auto;
  margin-top: 80px;
  border: 2px solid black;
}


.d01{
  background-image: url(../HTML-ESTUDO/SITE-IGREJA/pictures/009-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 200px;
  border: 2px solid black;
}
.d02{
  background-image: url(../HTML-ESTUDO/SITE-IGREJA/pictures/009-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 200px;
  border: 2px solid black;
}

