@charset "UTF-8";




div.A{
    background-color: lawngreen;
    display: block;
    flex-grow: 1;
    flex-basis: 1;
}

div.B{
    background-color: lightcoral;
    display: flex;
    flex-basis: 50px;
    flex-grow: 0;
   
}


div.TODOS{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    
}



p, h1,h2{
border: 2px solid black;
margin: 10px 10px;
font-size: 14px;
padding: 20px;
}




