@charset "UTF-8";




div.A{
    background-color: lawngreen;
    display: block;
}

div.B{
    background-color: lightcoral;
    display: block;
}


div.TODOS{
    background-color: black;
    display: flex;
    
    align-content: center;
}



p, h1,h2{
border: 2px solid black;
margin: 10px 10px;
font-size: 14px;
padding: 20px;
}




