@charset "UTF-8";

:root{

    --cor_01: #000000;
    --cor_02: rgb(233, 218, 14);
    --cor_03: rgb(31, 238, 221);
    --cor_04: rgb(159, 16, 172);

    --font_texto:  Arial, Helvetica, sans-serif;
    --font_titulo: 'Times New Roman', Arial Helvetica, sans-serif;
    --font_cabeça: fantasy, Arial Helvetica, sans-serif;
}


header{
   
    font-family: var(--font_cabeça);   
    color: hsl(61, 86%, 49%);
    padding: 10px 0px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 1px 1px 20px 8px  rgb(253, 249, 6);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROPMw5eg5tnGzpQPE4CLHIcxvxue4NtMAfgQ&usqp=CAU");

}

body{
    background-image: url(../pictures/CEU.png);
    background-attachment: fixed;
    background-color: black;
}

header >h1{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    display: flex;
    font-family: var(--font_cabeça);    
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

a#menu{
    font-family: var(--font_titulo);
    color: white;
    font-size: 1.2rem;
    margin: 5px 5px;
}

.primeira-etapa{
    display: block;
    flex-grow: 1;
    flex-basis: 600px;

}
article.mensagem-boas-vindas{

    background-image: url("../pictures/003-fundo.png");
    display: block;
    box-shadow: 1px 1px 20px 8px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

div.video_principal{
    display: flex;
    border: 20px double rgb(51, 51, 50);
    flex-basis: 180px;
    margin-bottom: 20px;
}


article.mensagem-boas-vindas >p{
 font-size: 1rem;
 color: var(--cor_01);
 text-align: justify;
 font-family: var(--font_texto);
 padding: 0px 20px;
 display: inline-flex;
 flex-flow: row wrap;
}

article.mensagem-boas-vindas >h1{

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--cor_01);
    text-align: center;
    justify-content: center;
    padding: 10px 10px 5px 10px;
}

div.calendario{
    display: flex;
    flex-grow: 1;
    height: 60vw;
    max-height: 350px;
    box-shadow: 1px -1px 13px 5px rgb(0 0 0 / 56%);
}

aside.proximo-culto{
    background-image: url("../pictures/002-fundo.jfif");
    display: block;
    text-align: center;
    font-weight: 900;
    line-height: 2rem;
    box-shadow: 1px -1px 13px 5px rgb(0 0 0 / 56%);
}

div.banner-datas{
    display: block;
    flex-grow: 1;
    flex-basis: 350px;
}


.mensagem-da-semana{
    background-image: url("../pictures/003-fundo.png");
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    padding: 10px;
    box-shadow: 1px -1px 13px 5px rgb(0 0 0 / 56%);
    margin-top: 10px;
    text-align: justify;

}

.mensagem-da-semana > h2{
    text-align: center;
}



main{
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
}

footer{
    background-image: url(../pictures/004-fundo.png);
    background-size: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style-type: unset;
    justify-content: space-around;
    padding: 40px 0px;
    margin: 40px 0px;
    box-shadow: 1px 1px 20px 8px  rgb(0, 0, 0);
}

footer > ul {
    list-style-type: none;
    margin: auto;
}

footer >ul >li{
    padding-top: 10px;
    margin-top: 10px;
}
footer >ul >li >a{
    font-family: var(--font_titulo);
    font-size: 1.2rem;
    color: var(--cor_01);
    text-decoration: none;
    font-weight: bold;
}

