@charset "UTF-8";


nav{
    display: block;
    background-color: none;
}


nav > ul{
    display:flex;
    flex-flow: row wrap;
    box-shadow: 0px 9px 12px 8px #0000009e;
    padding: 0px;
    margin: 0px;
}

nav > ul >li{
    list-style-type: none;
    min-width: 140px;
    min-height: 40px;
    display: flex;
    flex: 1 1 0px;

}

a.nav-menu:hover{
    background-color: rgb(121, 116, 116);
    transition-duration: 0.5s; 
    
}
a.nav-menu:active{
    background-color: rgb(247, 14, 14);
}

#menu-vertical-ul{
    display: flex;
    flex-direction: column;
   

}

#menu-vertical-ul:hover .menu-vertical-itens{
    display: flex;
    background-color: darkgoldenrod;
}



a.nav-menu{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
  
 
  
  .menu-vertical-itens{
      display: none;
      background-color: lemonchiffon;
  }
  
  .menu-vertical-itens >ul{
      list-style-type: none;
      padding: 0px;
      margin-right: 50px;
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: khaki;
      max-width: 300px;
      width: 25%;

  }
  
  
  .menu-vertical-itens >ul > li> a{
    
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    
  }
  
  .menu-vertical-itens >ul > li> a:hover{
      background-color: blueviolet;
      transition: 0.5s;
      border: 1px solid rgb(8, 8, 8);
      visibility: visible;
     
    }
  
    .menu-vertical-itens >ul > li> a:active{
      background-color: rgb(250, 250, 250);
    }
  
  


@media only screen and (max-width: 420px){

    a.nav-menu {
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(235, 235, 235);
        text-decoration: none;
        width: 100%;
        height: 100%;
        min-width: none;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }

    nav >ul >li{
        display: flex;
        flex-flow: column wrap;
        min-width: none;
        
    }
    

}

@media only screen and (max-width: 640px){

    a.nav-menu {
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(255, 254, 254);
        text-decoration: none;
        width: 100%;
        height: 100%;
        min-width: none;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }
    
    .menu-vertical-itens >ul{
        list-style-type: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: khaki;
        width:49%;
    }
    .menu-vertical-itens{
        display: none;
        background-color: lemonchiffon;
    }
    .menu-vertical-itens >ul > li> a{
    
        display: flex;
        padding: 20px 20px;
        text-decoration: none;
        color: black;
        

      }

      nav > ul >li{
        list-style-type: none;
        min-width: 100px;
        min-height: 40px;
        display: flex;
        flex: 1 1 220px;
    }
    
      
}


@media only screen and (max-width: 550px){

    nav > ul >li{
        list-style-type: none;
        min-width: 100px;
        min-height: 40px;
        display: flex;
        flex: 1 1 180px;
    }


}