main{
    width: 1200px;
    height: 800px;
    margin: auto;
    background-color: blueviolet;
    padding: 40px 0px;
}
body{
    margin: 0px;
}

#menu{
    margin: auto;
    width: 600px;
    border: 2px solid black;
    text-align: center;
}

#menu >span{
    display: flex;
    flex-direction: column;
    height: 0px;
    visibility: hidden;
}

#menu:hover {
    background-color: brown;
    transition-duration: 4s;
}

#menu:active span{
    
    visibility: visible;
     height: 200px;
}