header{

    height: 250px;
    background-color: black;
}

h1{
    font-size: 2vw;
    color:  white;
}


.before{

    opacity: 0.5;
    background: none;
    border: none;
    position: relative;
    top: 50%;
    right: 10px;
    transform: rotateY(180deg);
}
.before:hover{
    opacity: 1;
}

.next{

    opacity: 0.5;
    background: none;
    border: none;
    position: relative;
    top: 50%;
    left: 81%;

}
.next:hover{
    opacity: 1;
}


