body{
    background-color: black;
    max-width: 1400px;
    padding: 0px 40px;
}

main#principal{
    width: 1220px;
    background-color: rgb(68, 65, 65);
    padding: 20px;
    min-height: 100px;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
}
header{
    color: white;
    text-align: center;
    background-color: teal;
    margin: 0px;
}

div{
    width: 280px;
    height: 350px;
    background-color: tomato;
    border: 2px solid black;
    box-shadow: 0px 0px 4px 0px #0000006e;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    
}

div >h2{
    font-size: 24px;
    text-align: center;
   
}
div >p{
    font-size: 18px;
    height: 180px;
    overflow: hidden;
}
div >span{
    font-size: 15px;
    font-weight: bold;
    padding:  5px 0px;
}