body{
    background-image: url("../img/work-gc7a0757e4_1920.jpg");
    margin: auto;
}
 main{
    max-width: 1400px;
    margin: auto;
 }
    .sobremim{
        background-color:  rgba(0, 0, 0, 0.808);
        color: rgb(228, 226, 226);
        padding: 20px;
        border-radius: 15px;
        margin: auto;
        font-size: 18px;
        line-height: 28px;
       
    }
    .text{
        text-align: justify;
    }
    .bor{
        border-radius: 15px;
    }
   
    hr{
        width: 100%;
        padding: 0;
        margin: 20px 0px;
        border-bottom: 2px solid rgb(189, 188, 188);
    }
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 300px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: bold;
        padding-top: 90px;
        text-align: center;
        background-color: black;
    }
    footer>hr{
        display: none;

    }

    #lista{
        display: flex;
        flex-flow: row wrap;
    }
    #lista >li{
        width: 150px;
    }

    @media only screen and (max-width: 991px) {
       
  
        .dados{
               height: auto;
               margin: 50px auto;
               padding: 40px;
           }
       footer{
           flex-direction: column;
           height: 600px;
       }
       footer >hr{
           display: block;
       }
   
       }


    @media only screen and (max-width: 500px) {
       

        .sobremim{
            padding:20px 0px;
        }
        .texto_apresentacao{
            padding: 20px;
        }
    
        }
